---
import Footer from "../components/Footer.astro";
import ListItem from "../components/ListItem.astro";
import Titulo from "../components/Titulo.astro";
import SecondaryLayout from "../layouts/SecondaryLayout.astro";
---

<SecondaryLayout title="Encanto Serrano - Comer">
    <div class="flex gap-7 justify-center items-center my-6">
        <i class="fa-solid fa-utensils text-6xl" style="color: #FDA769"></i>
        <h2 class="text-4xl font-bold uppercase font-sans">A comer</h2>
    </div>
    <Titulo title="delivery"/>
    <ListItem title="pizza zero" href="https://goo.gl/maps/avgAVBmJQFcUkFDv8"/>
    <ListItem title="cerro lomos" href="https://goo.gl/maps/bhCxMDvDoPR2h1SV9"/>
    <ListItem title="grido helados" href="https://goo.gl/maps/oQHnyF2YKmQzqbip6"/>

    <Titulo title="salsipuedes"/>
    <ListItem title="el bodegón" href="https://goo.gl/maps/sUQXBdCb4Ncx843Q8"/>
    <ListItem title="el dorado" href="https://goo.gl/maps/nBnF4v6xTwMzqsVt7"/>
    <ListItem title="los alamos" href="https://goo.gl/maps/awhFgwKDstwHjh4D8"/>

    <Titulo title="río ceballos"/>
    <ListItem title="pizzería popular" href="https://goo.gl/maps/dPCYA2S6vgYiFDCa9"/>
    <ListItem title="terrazas del río" href="https://goo.gl/maps/kGJ1BRLuLETnjzad7"/>
    <ListItem title="guanajuato" href="https://goo.gl/maps/n48fm4txAjWUUCCH8"/>

    <Titulo title="camino al cuadrado"/>
    <ListItem title="parador el triángulo" href="https://goo.gl/maps/wDxQvKahbMUNqiZu5"/>
    <ListItem title="parador el cuadrado" href="https://goo.gl/maps/wFRQuNtgnbMmuJL86"/>
    <ListItem title="patio de franco" href="https://goo.gl/maps/6eVXZZNHUj1H7JAK9"/>

    <Titulo title="agua de oro"/>
    <ListItem title="las 4 estaciones" href="https://goo.gl/maps/qoHjJFkjnMMJG7YT7"/>

    <Titulo title="el manzano"/>
    <ListItem title="ursula" href="https://goo.gl/maps/pSCGG7N1g2uFR4zUA"/>

    <Titulo title="desayunos y meriendas"/>
    <ListItem title="espacio chic" href="https://goo.gl/maps/zhNFJB1BT787EofF8"/>
    <ListItem title="el pan nuestro" href="https://goo.gl/maps/dT4gWTnNaWKqQJwP8"/>

    <Footer/>

</SecondaryLayout>