---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="Encanto Serrano - Emergencia">
    <h1 class="uppercase text-4xl font-sans text-center">Servicios de emergencia</h1>
</MainLayout>