---
import Footer from "../components/Footer.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Encanto Serrano">
	<main class="overflow-hidden mx-auto ">
		<header
			class="w-full h-32 rounded-b-md"
			style="background-color: #ABC270;"
		>
			<img
				class="max-w-sm h-full m-auto"
				src="logo.png"
				alt="logo de encanto serrano"
			/>
		</header>
		<h1 class="font-permanent text-center font-normal text-4xl my-10">
			¿A donde vamos?
		</h1>

		<section class="pb-8">
			<ul class="flex flex-col gap-8 pb-10">
				<li
					class="w-56 h-20"
					style="background-color: #abc270; border-radius: 20px; margin: 0 auto;"
				>
					<a
						class="cursor-pointer w-full h-full inline-flex justify-center items-center gap-7"
						href="/comer/"
					>
						<i class="fa-solid fa-utensils text-4xl"></i>

						<h2 class="uppercase font-sans font-bold text-2xl">
							A comer
						</h2>
					</a>
				</li>
				<li
					class="w-56 h-20"
					style="background-color: #abc270; border-radius: 20px; margin: 0 auto;"
				>
					<a
						class="cursor-pointer w-full h-full inline-flex justify-center items-center gap-7"
						href="/pasear/"
					>
						<i class="fa-sharp fa-solid fa-person-hiking text-4xl"
						></i>

						<h2 class="uppercase font-sans font-bold text-2xl">
							A pasear
						</h2>
					</a>
				</li>
				<li
					class="w-56 h-20"
					style="background-color: #abc270; border-radius: 20px; margin: 0 auto;"
				>
					<a
						class="cursor-pointer w-full h-full inline-flex justify-center items-center gap-4"
						href="/comprar/"
					>
						<i class="fa-solid fa-shop text-3xl"></i>

						<h2 class="uppercase font-sans font-bold text-2xl">
							A comprar
						</h2>
					</a>
				</li>
			</ul>
			<div
				class="w-72 h-12"
				style="background-color: #FEC868; border-radius: 20px; margin: 0 auto;"
			>
				<a
					class="cursor-pointer w-full h-full inline-flex justify-center items-center gap-7"
					href="/emergencia/"
				>
					<i class="fa-solid fa-phone-volume text-2xl"></i>

					<h2 class="uppercase font-sans font-bold text-base">
						Servicios de Emergencia
					</h2>
				</a>
			</div>
		</section>
		<Footer/>
	</main>
</MainLayout>
