---
import SecondaryLayout from "../layouts/SecondaryLayout.astro";
---

<SecondaryLayout title="Encanto Serrano - Comer">
    <div class="flex gap-7 justify-center items-center my-6">
        <i class="fa-solid fa-person-hiking text-6xl" style="color: #FDA769"></i>
        <h2 class="text-4xl font-bold uppercase font-sans">A pasear</h2>
    </div>
</SecondaryLayout>