<header class="w-full h-32 rounded-b-md flex items-center" style="background-color: #ABC270;">
    <a href="/"><i class="fa-solid fa-chevron-left pl-6 text-white text-3xl cursor-pointer"></i></a>
    <img
        class="max-w-sm h-full m-auto"
        src="/logo.png"
        alt="logo de encanto serrano"
    />
</header>
