---
import comer from "../json/lugares.json";
---

<section>
    {
        comer.map((sitio) => (
            <div>
                <h2>{sitio.title}</h2>
                <a href={sitio.href}>
                    <p>{sitio.place}</p>
                </a>
            </div>
        ))
    }
</section>
